@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-notoNastaliqUrdu {
  font-family: 'Noto Nastaliq Urdu', 'Arial', serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Arial', serif;
}
